.row
  .col-md-3
    .card
      .card-body
        .profile-avatar= image_tag @user.avatar_url, class: 'img-fluid rounded mx-auto d-block'
        %h6.text-center
          .p-1= @user.full_name

        .mt-3

        .d-none.d-md-block
          %ul.list-group.list-group-flush
            %li.list-group-item.btn{ class: current_artist_profile_section_name == 'Work' ? 'disabled' : '' }
              = link_to 'Work', artist_profile_path(@user, artist_profile_section: 'Work')
            %li.list-group-item.btn{ class: current_artist_profile_section_name == 'Artist Statement' ? 'disabled' : '' }
              = link_to 'Statement', artist_profile_path(@user, artist_profile_section: 'Artist Statement')
            %li.list-group-item.btn{ class: current_artist_profile_section_name == 'Bio' ? 'disabled' : '' }
              = link_to 'Bio', artist_profile_path(@user, artist_profile_section: 'Bio')

        .d-block.d-md-none
          %ul.nav.nav-tabs
            %li.nav-item
              %a.nav-link{ href: artist_profile_path(@user, artist_profile_section: 'Work'), class: current_artist_profile_section_name == 'Work' ? 'active' : '' }
                Work
            %li.nav-item
              %a.nav-link{ href: artist_profile_path(@user, artist_profile_section: 'Artist Statement'), class: current_artist_profile_section_name == 'Artist Statement' ? 'active' : '' }
                Statement
            %li.nav-item
              %a.nav-link{ href: artist_profile_path(@user, artist_profile_section: 'Bio'), class: current_artist_profile_section_name == 'Bio' ? 'active' : '' }
                Bio

  .col-md-9
    .card.fun-card
      .card-header
        %h5.text-center.clearfix
          - if can_edit_resource?(@user) && params[:edit].nil? && edit_supported_artist_profile_section?
            = link_to content_tag(:i, '', class: 'fa fa-pencil'),
              artist_profile_path(user_id: current_user.id, artist_profile_section: params[:artist_profile_section], edit: true),
              class: 'pull-left'

          = current_artist_profile_section_name
      .card-body
        - if can_edit_resource?(@user) && params[:edit]
          = render "#{current_artist_profile_section_name.downcase.gsub(' ', '_')}_edit"
        - else
          = render current_artist_profile_section_name.downcase.gsub(' ', '_')
      .card-footer.text-center
