.row
  .col-lg-10.mx-auto

    %h2.pull-left My Work
    = button_to 'New Body', new_carousel_path, class: 'btn btn-default btn-primary pull-right', method: :get
    .clearfix
    %hr

    - @carousels.in_groups_of(4).each do |carousel_group|
      .row
        - carousel_group.each do |carousel|
          - next unless carousel && carousel.carousel_images.first # TODO: placeholder image when no images

          .col-md-3.mb-4
            .clearfix
              %h6.pull-left.text-center= carousel.name
              = link_to content_tag(:i, '', class: 'fa fa-pencil'),
                edit_carousel_path(carousel),
                class: 'float-right'

            = link_to public_carousel_path(carousel) do
              = image_tag(carousel.carousel_images.first.img_upload.attachment, class: 'img-fluid mx-auto d-block')
