.row
  .col-lg-10.mx-auto
    .row
      .col-md-3
        %h3 My Entries

      .col-md-9
        .list-group.mt-4
          - if @call_applications.none?
            .list-group-item.list-group-item-action.border-left-0.border-right-0
              %p.text-muted.text-center Darn, no applications here.

          - else
            - @call_applications.each do |call_application|
              .list-group-item.list-group-item-action.border-left-0.border-right-0
                %h5.text-center

                %h3 #{call_application.call.name}
                %p= "#{I18n.l(call_application.call.start_at, format: :long)} - #{I18n.l(call_application.call.end_at, format: :long)}"
                %p.text-muted= call_application.call.overview
