.card.fun-card
  .card-header
    %h3.text-center
      = call.name
      = "@ #{call.venue.name}" if call.venue

      .pull-right
        = link_to content_tag(:i, '', class: 'fa fa-pencil'),
          edit_call_path(call)

        = link_to content_tag(:i, '', class: 'fa fa-user'),
          call_call_users_path(call)

  .card-body
    - if call.start_at && call.end_at
      %p= "#{I18n.l(call.start_at, format: :long)} - #{I18n.l(call.end_at, format: :long)}"

    %p.text-muted= call.overview

    %h5 CallType
    %p= @call.call_type_id.capitalize

    - if call.external?
      %h4 External URL
      %p= link_to @call.external_url, @call.external_url
    - else
      %h4 Description
      %p= call.full_description.html_safe
