.form-inputs
  = simple_form_for @call do |f|
    = f.error_notification
    = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

    .row
      .col-6
        .form-group
          %label{ for: 'call_name' }= t('name')
          = f.input :name, input_html: { class: 'form-control' }, label: false
      .col-6
        .form-group
          = f.input :call_type_id, collection: options_for_enum(Call, :call_type_id)
    .row
      .col-6
        .form-group
          %label Start Date
          = f.text_field(:start_at, hidden: true, html: { id: 'start_at' })
          = react_component 'ReactDatePicker', { startDate: @call.start_at, formFieldId: 'call_start_at', showTimeSelect: false, isClearable: false, invalidInput: @call.errors[:start_at].present? }
      .col-6
        .form-group
          %label End Date
          = f.text_field(:end_at, hidden: true, html: { id: 'end_at' })
          = react_component 'ReactDatePicker', { startDate: @call.end_at, formFieldId: 'call_end_at', showTimeSelect: false, isClearable: false, invalidInput: @call.errors[:end_at].present? }

    .row
      .col-md-12
        .form-group
          = f.label 'Categories'
          = f.select :category_ids, category_options, { include_blank: true }, { multiple: true, class: 'form-control' }

    .row
      .col-md-12
        .form-group
          = f.input :overview, input_html: { class: 'form-control' }, as: :text

    .row.internal-calls-only
      .col-md-12
        .form-group
          %label{ for: 'call_full_description' } Full Description
          -# TODO: partial for this
          - if f.object.errors[:full_description].any?
            - f.object.errors[:full_description].each do |err|
              %p.mt-0.text-danger= err
          = f.input :full_description, input_html: { class: 'form-control' }, label: false, as: :trix_editor

    %hr

    .row.external-calls-only
      .col-12
        = f.input :external_url, wrapper: :vertical_input_group, label: "External URL" do
          .input-group-prepend
            .input-group-text
              %span.fa.fa-globe
          = f.input_field :external_url, class: "form-control"
          = render 'application/forms/url_validation_error_modifier', f: f, attr_name: :external_url

    .row.internal-calls-only
      .col
        %h4 Application Details

    .row.internal-calls-only
      .col-md-12
        .form-group
          -# %label{ for: 'call_application_details' }
          %sm.text-muted What should Artists include when applying?
          - if f.object.errors[:application_details].any?
            - f.object.errors[:application_details].each do |err|
              %p.mt-0.text-danger= err
          .mt-2= f.input :application_details, input_html: { class: 'form-control' }, label: false, as: :trix_editor

    .row
      .col-md-4
        .form-group
          %label Application Deadline
          = f.text_field(:application_deadline, hidden: true, html: { id: 'application_deadline' })
          = react_component 'ReactDatePicker', { startDate: @call.application_deadline, formFieldId: 'call_application_deadline', showTimeSelect: true, isClearable: false, invalidInput: @call.errors[:application_deadline].present? }

      .col-md-2
        .form-group
          %label{ for: 'call_is_public' }
            Publish
            = f.input :is_public, label: false

      - if current_user.is_admin?
        .col-md-2
          .form-group
            %label{ for: 'call_external' }
              External
              = f.input :external, label: false

    #venue_fields
      %hr

      .row
        .col-md-12
          %h4 Venue Details
          = f.simple_fields_for :venue do |venue|
            = render '/venues/venue_fields', f: venue

    .row
      .col-md-2
        = f.button :submit, t('save'), class: 'btn btn-primary'
