.row
  .col-lg-10.mx-auto
    %h3
      = link_to @call.name, @call
      Entries

    %hr

    .form-inputs
      = simple_form_for :entry_searcher, url: call_applications_path(@call), method: "GET", html: {} do |f|

        -# TODO: show # of not submitted?
        .row.no-gutters
          .col-8.mr-auto
            .row.no-gutters
              - if @search_categories.any?
                .col-6
                  .form-group
                    = f.select :category_ids, entry_search_category_options, { include_blank: true }, { multiple: true, class: 'form-control' }

              .col-6
                .form-group
                  = f.select :status_ids, options_for_enum(CallApplication, :status_id), { include_blank: true }, { multiple: true, class: 'form-control' }
          .col-auto
            .form-group
              = f.submit "Apply Filters", class: "btn btn-primary btn-sm p-1"

    - if @applications.none?
      %p.text-muted No applications found.
    - else
      %p.text-muted
        #{@applications.count}
        of
        #{ @call.applications.creation_status_submitted.count }
        submitted entries displayed
        -# TODO: paginate - distinguish total count vs filter

    .list-group
      - @applications.each do |call_application|
        .list-group-item.list-group-item-action.border-left-0.border-right-0.call-application-line-item.px-0
          .row.no-gutters
            .col-auto.mr-auto.artist-details
              .d-inline-block.mr-1
                = image_tag(call_application.user.avatar_url, class: 'img-fluid rounded-circle avatar')
              %h5.d-inline-block.mb-0.align-middle
                = link_to call_application.user.full_name, artist_profile_path(user_id: call_application.user.id)

              -# %small.text-muted= time_ago_in_words(call_application.created_at)

            .col-auto
              - if call_application.category
                %span.badge.badge-success #{call_application.category}

              -# = link_to 'Artist Website', call_application.artist_website, target: :_blank if call_application.artist_website.present?
