.row
  .col-md-8.mx-auto
    .row.mb-4
      .col-auto.mr-auto
        %h3
          = @call.name
          -# = "@ #{@call.venue.name}" if @call.venue

      .col-auto
        .btn-group
          - if policy(@call).edit?
            = link_to edit_call_path(@call), class: 'btn btn-sm btn-white border px-3' do
              %span
                %i.fa.fa-pencil
                -# Edit

          - if policy(@call).manage_users?
            = link_to call_call_users_path(@call), class: 'btn btn-sm btn-white border px-3' do
              %span
                %i.fa.fa-user
                -# Users

          - if policy(@call).view_entries?
            = link_to call_entries_path(@call), class: 'btn btn-sm btn-white border px-3' do
              %span
                %i.fa.fa-envelope
                -# Entries

    .row
      .col.mx-auto
        .row
          .col-md-6.mb-4
            %h6 Deadline
            %p= I18n.l(@call.entry_deadline, format: :long) if @call.entry_deadline
            - if @call.entry_fee
              %h6 Entry Fee
              %p= number_to_currency(@call.entry_fee / 100)
            - if @call.start_at && @call.end_at
              %h6 Event Dates
              %p= "#{I18n.l(@call.start_at, format: :long)} - #{I18n.l(@call.end_at, format: :long)}"
            - if @call.external?
              %h6 External URL
              %p= link_to @call.external_url, @call.external_url
            - if @call.description.present?
              %h6 Description
              %p= @call.description.html_safe

          - if @call.description.present? || @call.entry_details.present?
            .col-md-6
              - if @call.entry_details.present?
                %h6 Application Details
                %p= @call.entry_details.html_safe

              - if @call.categories.any?
                %h6 Categories
                %div.mb-4
                  = render 'categories/badges', categories: @call.categories

              - if @call.is_public && !@call.external
                = render 'share_link'
