.row
  .col-lg-10.mx-auto
    .row
      .col
        %h3
          = @call.name
          = "@ #{@call.venue.name}" if @call.venue
    %br
    .row.mb-4
      .col
        .btn-group
          - if policy(@call).edit?
            = link_to edit_call_path(@call), class: 'btn btn-sm btn-light border' do
              %span
                %i.fa.fa-pencil
                Edit

          - if policy(@call).manage_users?
            = link_to call_call_users_path(@call), class: 'btn btn-sm btn-light border' do
              %span
                %i.fa.fa-user
                Users

          - if policy(@call).view_entries?
            = link_to call_applications_path(@call), class: 'btn btn-sm btn-light border' do
              %span
                %i.fa.fa-envelope
                Entries

    .row
      .col
        %h6 Deadline
        %p= I18n.l(@call.application_deadline, format: :long)

        - if @call.start_at && @call.end_at
          %h6 Event Dates
          %p= "#{I18n.l(@call.start_at, format: :long)} - #{I18n.l(@call.end_at, format: :long)}"

        %p.text-muted= @call.overview

        - if @call.external?
          %h6 External URL
          %p= link_to @call.external_url, @call.external_url
        - else
          %h6 Description
          %p= @call.full_description.html_safe

    .row
      .col-md-6
        - if @call.is_public
          .mt-4= render 'share_link'
