.row
  .col-lg-10.mx-auto
    - if @call.is_public
      = render 'share_link'

    .row
      .col-md-8.mb-4= render 'call', call: @call
      .col-md-4
        .card.fun-card
          .card-header
            %h5.text-center Application Info
          .card-body
            %h6 Deadline
            %p= I18n.l(@call.application_deadline, format: :long)

            %h6 Details to Include
            %p= @call.application_details.html_safe

          .card-footer.text-center
            = link_to 'View Submissions', call_applications_path(@call), class: 'btn btn-outline-success'
