<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Hew</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= t('menu') %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#"><%= t('artists') %></a>
          <a class="dropdown-item" href="#"><%= t('venues') %></a>
          <div class="dropdown-divider"></div>
          <% if current_user %>
            <%= link_to t('settings'), settings_profile_path, class: "dropdown-item" %>
            <%= link_to t('sign_out'), destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          <% else %>
            <%= link_to t('sign_in'), new_user_session_path, class: "dropdown-item" %>
          <% end %>
        </div>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder=<%= t('search') %>>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          <%= t('search') %>
        </button>
      </form> -->
    </ul>
  </div>
</nav>
