.card.border-bootstrap.box-shadow
  .card-header
    %h1= t('settings')

  .card-body
    = simple_form_for current_user, url: update_profile_settings_path do |f|
      = f.error_notification

      .row
        .col-md-6
          .form-group
            %label{ for: 'user_email' } Email
            = f.input :email, input_html: { class: 'form-control' }, label: false
        .col-md-6
          .form-group
            %label{ for: 'user_locale' } Language
            = f.input :locale, collection: [[t(:english), 'en'], [t(:spanish), 'es']], input_html: { class: 'form-control' }, label: false

      .row
        .col-md-6
          .form-group
            %label{ for: 'user_first_name' }= t('first_name')
            = f.input :first_name, input_html: { class: 'form-control' }, label: false
        .col-md-6
          .form-group
            %label{ for: 'user_last_name' }= t('last_name')
            = f.input :last_name, input_html: { class: 'form-control' }, label: false
      = f.button :submit, t('save'), class: 'btn btn-primary'
