.row
  .col-lg-10.mx-auto
    -# = render 'share_artist_profile_link' if current_user.is_artist

    .card.fun-card.border-bootstrap.box-shadow
      .card-header
        .row
          .col-10
            %h1 Profile
            = link_to "Change your password", edit_user_registration_path
          .col-2
            .profile-avatar.float-right
              = image_tag current_user.avatar_url, class: 'img-fluid rounded'

      .card-body.form-inputs
        = simple_form_for current_user, url: update_profile_settings_path do |f|
          = f.error_notification
          = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

          .row
            .col-md-12
              .form-group
                %label{ for: 'user_email' } Email
                = f.input :email, input_html: { class: 'form-control' }, label: false

          .row
            .col-md-6
              .form-group
                %label{ for: 'user_first_name' }= t('first_name')
                = f.input :first_name, input_html: { class: 'form-control' }, label: false
            .col-md-6
              .form-group
                %label{ for: 'user_last_name' }= t('last_name')
                = f.input :last_name, input_html: { class: 'form-control' }, label: false

            -# .col-md-6
            -#   .form-group
            -#     %label{ for: 'user_locale' } Language
            -#     = f.input :locale, collection: [[t(:english), 'en'], [t(:spanish), 'es']], input_html: { class: 'form-control' }, label: false

          .row
            .col-6
              .form-group
                %label
                = f.input :is_artist, label: 'I am an artist'
            .col-6
              .form-group
                %label
                = f.input :is_curator, label: 'I am a curator'

          #user-artist-fields{ style: "display: #{current_user.is_artist? ? '' : 'none'}" }
            .row
              .col-md-12
                .form-group
                  = f.input :artist_website, wrapper: :vertical_input_group, label: "Artist Website" do
                    .input-group-prepend
                      .input-group-text
                        %span.fa.fa-globe
                    = f.input_field :artist_website, class: "form-control"
                    = render 'application/forms/url_validation_error_modifier', f: f, attr_name: :artist_website

          = f.input :instagram_url, wrapper: :vertical_input_group, label: "Instagram URL" do
            .input-group-prepend
              .input-group-text
                %span.fa.fa-globe
            = f.input_field :instagram_url, class: "form-control"
            = render 'application/forms/url_validation_error_modifier', f: f, attr_name: :instagram_url

          .form-group
            %label{ for: "user_avatar"} Avatar
            = f.input :avatar, as: :file, label: false

          = f.button :submit, t('save'), class: 'btn btn-primary'
