.form-inputs
  = simple_form_for @show_application, url: "/show_applications?show_id=#{@show_application.show_id}" do |f|
    = f.error_notification
    = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

    .d-none= f.input :show_id, input_html: { class: 'form-control' }, label: false

    - if current_user.nil?
      = f.simple_fields_for :user do |user|
        = render 'user_fields', f: user

    .row
      .col-md-6
        = f.input :artist_website, wrapper: :vertical_input_group, label: "Artist Website" do
          .input-group-prepend
            .input-group-text
              %span.fa.fa-globe
          = f.input_field :artist_website, class: "form-control"

      .col-md-6
        = f.input :artist_instagram_url, wrapper: :vertical_input_group, label: "Instagram URL" do
          .input-group-prepend
            .input-group-text
              %span.fa.fa-globe
          = f.input_field :artist_instagram_url, class: "form-control"

    .row
      .col-md-6
        = f.input :artist_instagram_url, wrapper: :vertical_input_group, label: "Link to Photos" do
          .input-group-prepend
            .input-group-text
              %span.fa.fa-globe
          = f.input_field :photos_url, class: "form-control"

      .col-md-6
        = f.input :artist_instagram_url, wrapper: :vertical_input_group, label: "Supplemental Material" do
          .input-group-prepend
            .input-group-text
              %span.fa.fa-globe
          = f.input_field :supplemental_material_url, class: "form-control"

    .row
      .col-md-12
        .form-group
          %label{ for: 'show_application_artist_statement' } Artist Statement
          = f.input :artist_statement, input_html: { class: 'form-control' }, label: false, as: :trix_editor

    = f.button :submit, 'Submit', class: 'btn btn-primary float-right'
