.d-flex.justify-content-between.mb-3
  %h3 My Applications
  = link_to 'My Calls', dashboard_path, class: 'btn btn-outline-success'

.card.fun-card
  .card-header.pb-0

    %ul.nav.nav-tabs
      %li.nav-item
        %a.nav-link{ id: 'accepted_and_active', href: dashboard_path(accepted_and_active: true, as_artist: true), class: artist_dashboard_call_applications_scope == :accepted_and_active ? 'active' : '' }
          Accepted (#{current_user.call_applications.accepted_and_active.count})
      %li.nav-item
        %a.nav-link{ id: 'pending', href: dashboard_path(pending: true, as_artist: true), class: artist_dashboard_call_applications_scope == :pending ? 'active' : '' }
          Pending (#{current_user.call_applications.pending.count})
      %li.nav-item
        %a.nav-link{ id: 'past', href: dashboard_path(past: true, as_artist: true), class: artist_dashboard_call_applications_scope == :past ? 'active' : '' }
          Past (#{current_user.call_applications.past.count})

  .list-group
    - if @call_applications.none?
      .list-group-item.list-group-item-action.border-left-0.border-right-0
        %p.text-muted.text-center Darn, no applications here.

    - else
      - @call_applications.each do |call_application|
        .list-group-item.list-group-item-action.border-left-0.border-right-0
          %h5.text-center

          %h3= "#{call_application.call.name} @ #{call_application.call.venue.name}"
          %p= "#{I18n.l(call_application.call.start_at, format: :long)} - #{I18n.l(call_application.call.end_at, format: :long)}"
          %p.text-muted= call_application.call.overview
