.d-flex.justify-content-between.mb-3
  %h3= t('my_shows')
  = link_to 'My Applications', dashboard_path(as_artist: true), class: 'btn btn-outline-success'

.card
  .card-header.pb-0

    %ul.nav.nav-tabs
      %li.nav-item
        %a.nav-link{ id: 'accepting_applications', href: dashboard_path(accepting_applications: true), class: curator_dashboard_shows_scope == :accepting_applications ? 'active' : '' }
          Accepting Applications (#{current_user.shows.accepting_applications.count})
      %li.nav-item
        %a.nav-link{ id: 'current', href: dashboard_path(current: true), class: curator_dashboard_shows_scope == :current ? 'active' : '' }
          Current (#{current_user.shows.current.count})
      %li.nav-item
        %a.nav-link{ id: 'upcoming', href: dashboard_path(upcoming: true), class: curator_dashboard_shows_scope == :upcoming ? 'active' : '' }
          Upcoming (#{current_user.shows.upcoming.count})
      %li.nav-item
        %a.nav-link{ id: 'past', href: dashboard_path(past: true), class: curator_dashboard_shows_scope == :past ? 'active' : '' }
          Past (#{current_user.shows.past.count})

  .list-group
    - @shows.each do |show|
      .list-group-item.list-group-item-action.border-left-0.border-right-0
        %h5.text-center
          = link_to content_tag(:i, '', class: 'fa fa-pencil'),
            edit_show_path(show),
            class: 'float-right'

        %h3= "#{show.name} @ #{show.venue.name}"
        %p= "#{I18n.l(show.start_at, format: :long)} - #{I18n.l(show.end_at, format: :long)}"
        %p.text-muted= show.overview

        %h4 Description
        %p= show.full_description.html_safe

        .row
          .col-6
            = pluralize(show.applications.count, 'Submission')
            .text-muted Deadline #{I18n.l(show.application_deadline, format: :long)}
          .col-6
            .pull-right= link_to 'View Submissions', show_applications_path(show), class: 'btn btn-outline-success'
