.row
  .col-lg-10.mx-auto
    .jumbotron.funmotron.mb-4
      .container-fluid
        %h3 Open Calls for Art in Mexico City
    .row
      .col
        .pull-right
          %span.text-muted Sort by:
          .btn-group.mb-1
            %a{ class: "dropdown-toggle", 'data-toggle' => 'dropdown', href: '#' }
              = params[:call_sort_by]
              %span.caret
            %ul.dropdown-menu.dropdown-menu-right
              - ['Application Deadline', 'Recently Created'].each do |call_sort_by|
                - next if params[:call_sort_by] == call_sort_by
                %li= link_to call_sort_by, root_path({ call_sort_by: call_sort_by }), class: 'dropdown-item'

    - if @calls.none?
      .row
        .col-12
          .alert.alert-warning.w-100
            %p Darn, no available calls found.

    - @calls.each do |call|
      .row
        .col-12.mx-auto.mb-4
          .card.fun-card
            .card-header
              .row
                .col-8
                  %h5.d-inline= call.name
                  @
                  %h6.d-inline= call.venue.name
                .col-4
                  %h6.pull-right= I18n.l(call.start_at, format: :long)
            .card-body
              = call.overview
            .card-footer
              .row
                .col-6
                  = pluralize(call.applications.count, 'Submission')
                  .text-muted Deadline #{I18n.l(call.application_deadline, format: :long)}
                .col-6
                  .pull-right
                    - if current_user && current_user.id == call.user_id
                      = link_to 'View Submissions', call_applications_path(call), class: 'btn btn-outline-success'
                    - else
                      = link_to 'Call Details', public_call_details_path(id: call.id), class: 'btn btn-outline-primary'
