.row
  .col-lg-10.mx-auto
    %h3 Messages

    .list-group
      - @chats.each do |chat|
        %a.list-group-item.list-group-item-action.flex-column.align-items-start{ href: chat_path(chat) }
          .float-right= "(#{ chat.unread_messages(current_user).count })"
          .d-flex.w-100.justify-content-between.mb-3
            - last_message = chat.messages.last
            .users
              - other_chat_users(chat).each do |user|
                .d-inline-block= image_tag(user.gravatar_url, class: 'chat-avatar')
                %span.mt-1.ml-2= user.full_name
            %small= time_ago_in_words(last_message&.created_at) if last_message

          - if last_message
            %p.mb-1= last_message_preview(chat)
          - else
            %p.text-muted No Messages
