.nested-fields
  .row
    .col-xl-8.col-12
      = f.input :street_address
      = f.input :street_address_2, label: false
    .col-xl-2.col-6
      .form-group
        %label{ for: 'city_id' }= t('city')
        = f.input :city, collection: supported_venue_cities, label: false
        .d-none= f.input :state
        .d-none= f.input :country
    .col-xl-2.col-6= f.input :postal_code
