.nested-fields
  .row
    .col-md-4
      .form-group
        %label{ for: 'venue_name' }= t('name')
        = f.input :name, input_html: { class: 'form-control' }, label: false
    .col-md-8
      .form-group
        %label{ for: 'venue_website' }= t('website')
        .input-group
          .input-group-prepend
            .input-group-text https://
          = f.input_field :website, class: "form-control"

    .col-md-12
      = f.simple_fields_for :address do |address|
        = render 'addresses/address_fields', f: address
