.row
  .col-lg-10.mx-auto
    .row
      .col-md-8.mb-4
        .card.fun-card
          .card-header
            %h4.text-center
              = @show.name

          .card-body
            %h4= "#{@show.name} @ #{@show.venue.name}"
            %p= "#{I18n.l(@show.start_at, format: :long)} - #{I18n.l(@show.end_at, format: :long)}"
            %p.text-muted= @show.overview

            %h4 Description
            %p= @show.full_description.html_safe

      .col-md-4
        .card.fun-card
          .card-header
            %h4.text-center Application Info
          .card-body
            %h5 Deadline
            %p= I18n.l(@show.application_deadline, format: :long)

            %h5 Details to Include
            %p= @show.application_details.html_safe
          .card-footer.text-center
            = button_to 'Apply',
                      new_show_application_path,
                      class: 'btn btn-success',
                      method: :get,
                      params: { show_id: @show.id },
                      disabled: @show.application_for?(current_user)
