.row
  .col-lg-10.mx-auto
    .row
      .col-md-8.mb-4
        .card.fun-card
          .card-header
            %h5.text-center
              = @call.name

          .card-body
            %h3= "#{@call.name} @ #{@call.venue.name}"
            %p= "#{I18n.l(@call.start_at, format: :long)} - #{I18n.l(@call.end_at, format: :long)}"
            %p.text-muted= @call.overview

            %h4 Description
            %p= @call.full_description.html_safe

      .col-md-4
        .card.fun-card
          .card-header
            %h5.text-center Application Info
          .card-body
            %h6 Deadline
            %p= I18n.l(@call.application_deadline, format: :long)

            %h6 Details to Include
            %p= @call.application_details.html_safe
          .card-footer.text-center
            = button_to 'Apply',
                      new_call_application_path,
                      class: 'btn btn-success',
                      method: :get,
                      params: { call_id: @call.id },
                      disabled: @call.application_for?(current_user)
