.row
  .col-lg-10.mx-auto
    .row
      .col-md-8.mb-4
        .card.fun-card
          .card-body
            %h3
              = @call.name
              - if @call.venue
                @
                = @call.venue.name
            %hr

            %h5 Event Dates
            %p= "#{@call.start_at.strftime("%B %d, %Y")} - #{@call.end_at.strftime("%B %d, %Y")}"

            %h5 Overview
            %p.text-muted= @call.overview

            %h5 Description
            %p= @call.description.html_safe

      .col-md-4
        .card.fun-card
          .card-body
            %h5.text-center Application Info
            %hr

            %h6 Deadline
            %p= @call.entry_deadline.strftime("%d %B %Y")

            %h6 Details to Include
            %p= @call.entry_details.html_safe

            %hr
            .text-center
              - apply_path = @entry ? "/entries/#{@entry.creation_status}?entry_id=#{@entry.id}" : new_entry_path(call_id: @call.id)

              = link_to 'Apply', apply_path, class: 'btn btn-success'
