.nested-fields
  .row
    .col-lg-2
      .form-group
        %label{ for: 'city_id' }= t('city')
        = f.association :city, collection: supported_venue_cities.pluck(:name, :id), label: false
    .col-lg-2= f.input :postal_code
    .col-lg-8
      = f.input :street_address
      = f.input :street_address_2, label: false
