.form-inputs
  = simple_form_for @gallery do |f|
    = f.error_notification
    = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

    .row
      .col-md-6
        .form-group
          %label{ for: 'gallery_name' }= t('name')
          = f.input :name, input_html: { class: 'form-control' }, label: false

      .col-md-6
        = f.input :image_ids_in_position_order, as: :hidden, default: @gallery.gallery_images.map(&:id).join(',')
        = render 'sortable_gallery_images', gallery: @gallery

      -# .col-md-12
      -#   = f.input :description
    %hr
    = f.button :submit, t('save'), class: 'btn btn-primary'
