.form-inputs
  = simple_form_for @show do |f|
    = f.error_notification
    = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

    .row
      .col
        %h3 Show Details
    .row
      .col-md-4
        .form-group
          %label{ for: 'show_name' }= t('name')
          = f.input :name, input_html: { class: 'form-control' }, label: false
      .col-md-4.col-6
        .form-group
          %label Start Date
          = f.text_field(:start_at, hidden: true, html: { id: 'start_at' })
          = react_component 'ReactDatePicker', { startDate: @show.start_at, formFieldId: 'show_start_at', showTimeSelect: false, isClearable: false, invalidInput: @show.errors[:start_at].present? }
      .col-md-4.col-6
        .form-group
          %label End Date
          = f.text_field(:end_at, hidden: true, html: { id: 'end_at' })
          = react_component 'ReactDatePicker', { startDate: @show.end_at, formFieldId: 'show_end_at', showTimeSelect: false, isClearable: false, invalidInput: @show.errors[:end_at].present? }

    .row
      .col-md-12
        .form-group
          = f.input :overview, input_html: { class: 'form-control' }, as: :text

    .row
      .col-md-12
        .form-group
          %label{ for: 'show_full_description' } Full Description
          -# TODO: partial for this
          - if f.object.errors[:full_description].any?
            - f.object.errors[:full_description].each do |err|
              %p.mt-0.text-danger= err
          = f.input :full_description, input_html: { class: 'form-control' }, label: false, as: :trix_editor

    %hr

    .row
      .col
        %h4 Application Details

    .row
      .col-md-12
        .form-group
          -# %label{ for: 'show_application_details' }
          %sm.text-muted What should Artists include when applying?
          - if f.object.errors[:application_details].any?
            - f.object.errors[:application_details].each do |err|
              %p.mt-0.text-danger= err
          .mt-2= f.input :application_details, input_html: { class: 'form-control' }, label: false, as: :trix_editor

    .row
      .col-md-4
        .form-group
          %label Application Deadline
          = f.text_field(:application_deadline, hidden: true, html: { id: 'application_deadline' })
          = react_component 'ReactDatePicker', { startDate: @show.application_deadline, formFieldId: 'show_application_deadline', showTimeSelect: true, isClearable: false, invalidInput: @show.errors[:application_deadline].present? }

    %hr

    .row
      .col-md-12
        %h4 Venue Details
        = f.simple_fields_for :venue do |venue|
          = render '/venues/venue_fields', f: venue
    .row
      .col-md-2
        = f.button :submit, t('save'), class: 'btn btn-primary'

      .col
        .form-group
          %label
            = f.input :is_public, label: 'Publish'
