.card.fun-card
  .card-header
    %h5.text-center
      = show.name
      = link_to content_tag(:i, '', class: 'fa fa-pencil'),
        edit_show_path(show),
        class: 'float-right'

  .card-body
    %h3= "#{show.name} @ #{show.venue.name}"
    %p= "#{I18n.l(show.start_at, format: :long)} - #{I18n.l(show.end_at, format: :long)}"
    %p.text-muted= show.overview

    %h4 Description
    %p= show.full_description.html_safe
