.row
  .col-lg-10.mx-auto
    %h3 My Shows

    - @shows.each do |show|
      .row
        .col-12.mx-auto.mb-4
          .card.fun-card
            .card-header
              .row
                .col-6
                  %h5.d-inline= show.name
                  @
                  %h6.d-inline= show.venue.name
                .col-6
                  %h6.pull-right= I18n.l(show.start_at, format: :long)
            .card-body
              = show.overview
            .card-footer
              .row
                .col-6
                  = pluralize(show.applications.count, 'Submission')
                  .text-muted Deadline #{I18n.l(show.application_deadline, format: :long)}
                .col-6
                  .pull-right= link_to 'View Submissions', show_applications_path(show), class: 'btn btn-outline-success'
