.row
  .col-lg-10.mx-auto
    - if @show.is_public && !@show.is_approved
      .alert.alert-warning
        %p Your show will not appear on the the homepage until it has been approved by an administrator.
        = render 'share_link'
    - elsif @show.is_public
      .alert.alert-warning= render 'share_link'

    .row
      .col-md-8.mb-4= render 'show', show: @show
      .col-md-4
        .card
          .card-header
            %h5.text-center Application Info
          .card-body
            %h6 Deadline
            %p= I18n.l(@show.application_deadline, format: :long)

            %h6 Details to Include
            %p= @show.application_details.html_safe

          .card-footer.text-center
            = link_to 'View Submissions', show_applications_path(@show), class: 'btn btn-outline-success'
