%nav.navbar.navbar-expand-lg.navbar-light.bg-white.text-right
  %a.navbar-brand.text-dark{:href => "/"} Mox
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.ml-auto
      - if current_user
        %li.nav-item
          = link_to "Admin", admin_root_path, class: "nav-link text-dark" if current_user.is_admin?
        %li.nav-item
          = link_to '+ New Call', new_call_path, class: 'nav-link text-dark'
        - if current_user.is_artist?
          %li.nav-item
            = link_to 'My Portfolio', artist_profile_path(current_user), class: "nav-link text-dark"
        - if current_user.call_users.exists?
          %li.nav-item
            = link_to 'My Calls', calls_path, class: "nav-link text-dark"
        %li.nav-item
          = link_to 'Profile', settings_profile_path, class: "nav-link text-dark"
        -# %li.nav-item
        -#   = link_to "Messages", messages_path, class: "nav-link text-dark"
        %li.nav-item
          = link_to t('sign_out'), destroy_user_session_path, method: :delete, class: "nav-link"
      - else
        -# %li.nav-item
        -#   = link_to 'Add Call for Art', new_user_registration_path, class: 'nav-link text-dark'
        %li.nav-item
          = link_to "Log In", new_user_session_path, class: "nav-link text-dark"
        %li.nav-item
          = link_to t('sign_up'), new_user_registration_path, class: "nav-link text-dark"
